    <!-- Step 1: SDK Facebook -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0"
      nonce="abcXYZ"></script>
    
    <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" 
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v22.0&appId=1425809928436070"></script>
      
    <!-- Nội dung web -->
    <h1>Chào mừng đến WebLab13</h1>
    
    <!-- Step 2: Nút Like + Share -->
    <div class="fb-like"
         data-href="https://Lab13.Web1013"
         data-width=""
         data-layout="standard"
         data-action="like"
         data-size="large"
         data-share="true">
    </div>
    <div class="fb-comments"
         data-href="https://Lab13.Web1013"
         data-width="100%"
         data-numposts="5">
    </div>