<section class="course">
    <h1>Ngành đào tạo</h1>
    <div class="row">
        <div class="course-col">
           <h3>Công nghệ thông tin</h3>
           <p>Chuyên ngành Lập trình Web đón đầu các xu thế mới nhất trong năm 2017, <br>
            trang bị cho người học những kỹ năng, <br>
            kiến thức và công nghệ mới nhất để xây dựng các website một cách chuyên nghiệp. <br>
        </div>
        <div class="course-col">
            <h3>Quản trị kinh doanh</h3>
            <p>Ngành Quản trị Kinh doanh cung cấp kiến thức về kinh tế, marketing, tài chính và quản lý doanh nghiệp. <br>
            Sinh viên được rèn luyện tư duy chiến lược, kỹ năng lãnh đạo và ra quyết định, sẵn sàng làm việc trong nhiều lĩnh vực hoặc tự khởi nghiệp.
        </div>
         <div class="course-col">
            <h3>Thiết kế đồ họa</h3>
            <p>Ngành Thiết kế Đồ họa trang bị cho sinh viên tư duy thẩm mỹ, kỹ năng sáng tạo và làm chủ các công cụ thiết kế hiện đại. <br>
            Sinh viên được học cách xây dựng hình ảnh thương hiệu, thiết kế ấn phẩm, giao diện số và truyền thông đa phương tiện, sẵn sàng làm việc trong môi trường sáng tạo chuyên nghiệp. <br>
         </div>
    </div>
</section>