<section class="header">
    <nav>
        <a href="index.html"><img src="img/logo.png" alt=""></a>
        <div class="nav-links" id="navLinks">
            <i class="bi bi-x" onclick="hideMenu()"></i>
            <ul>
                <li><a href="" target="contentFrame">Trang chủ</a></li>
                <li><a href="tintuc.html" target="contentFrame">Tin tức</a></li>
                <li><a href="khoahoc.html" target="contentFrame">Khóa học</a></li>
                <li><a href="gioithieu.html" target="contentFrame">Giới thiệu</a></li>
                <li><a href="lienhe.html" target="contentFrame">Liên hệ</a></li>
            </ul>
        </div>
        <i class="bi bi-list" onclick="showMenu()"></i>
    </nav>
    <div class="text-box">
        <h1>Trường FPT Polytechnic</h1>
        <p>FPT Polytechnic là hệ thống trường cao đẳng thực hành trực thuộc tập đoàn FPT, <br>
            chuyên đào tạo theo mô hình "Thực học - Thực nghiệp". <br> 
            Trường tập trung vào việc cung cấp kiến thức thực tiễn, giúp sinh viên có thể làm việc ngay sau khi tốt nghiệp.
        </p>
        <a href="" class="hero-btn">Visit us to know more</a>
    </div>
</section>